# Imports

In [2]:
import pandas as pd

# Reading in the CSV

In [3]:
df = pd.read_csv("../iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Selecting without loc or iloc

In [4]:
df["species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [5]:
df["species"][0]

'setosa'

# Selecting with loc

In [6]:
df.loc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [7]:
df.loc[0,"sepal_length"]

5.1

In [8]:
df.loc[[0,1,2,3,4],"sepal_length"]

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [9]:
row_names = [0,1,2,3,4]
df.loc[row_names, "sepal_length"]

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

# Selecting with iloc

In [19]:
df.iloc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [20]:
df.iloc[0,0]

5.1

In [10]:
df.iloc[[0,1,2,3],[0,1]]

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1